{% load static %}

<div class="fixed flex justify-center w-full h-36 z-20">
    <div class="flex items-center w-3/5 h-full">
        <a class="flex justify-start items-center w-3/12" href="#">
            <img src="{% static "img/logo.png" %}" alt="Hanbit Church's logo">
        </a>
        <div class="flex justify-end items-center w-9/12 h-full">
            <ul class="flex justify-end items-center font-nanum h-full">
                <li class="nav-link"><a href="#">교회소개</a></li>
                <li class="nav-link"><a href="#">교회소식</a></li>
                <li class="nav-link"><a href="#">묵상/칼럼</a></li>
                <li class="nav-link"><a href="#">설교방송</a></li>
                <li class="nav-link"><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
</div>