{% extends "base.html" %}
{% load hitcount_tags %}
{% load static %}
{% block title %}설교·묵상{% endblock title %}
{% block content %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container text-noto text-md font-sm">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-lg-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">[
        {% if sermon.post_type == "column" %} 
        칼럼
        {% elif sermon.post_type == "contemplation" %}
        묵상
        {% else %}
        설교
        {% endif %}
        ]
        {{sermon.title}}</h1>
        <!-- page-title end -->

        <!-- blogpost start -->
        <!-- ================ -->
        <article class="blogpost full">
          <header>
            <div class="post-info mb-4">
              <span class="post-date">
                <i class="fa fa-calendar-o pr-1"></i>
                <span class="date">{{sermon.created}}</span>
              </span>
              <span class="submitted">
                <i class="fa fa-user pr-1 pl-1"></i> by
                {{sermon.author}}
              </span>
              <span class="search">
                <i class="fa fa-search pl-1 pr-1"></i>
                {% get_hit_count for sermon %}
              </span>
            </div>
          </header>
          <div class="blogpost-content">
            <div
              id="carousel-blog-post"
              class="carousel slide mb-5"
              data-ride="carousel"
            > 
            
              <ol class="carousel-indicators">
                {% for photo in sermon.get_photos %}
                
                {% if photo.files != "" %}
                <!-- Indicators -->
                <li
                  data-target="#carousel-blog-post"
                  data-slide-to="{{forloop.counter0}}"
                  class="{% if forloop.counter0 == 0 %}active{% endif %}"
                ></li>
                {% endif %}
                  
                {% endfor %}
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {% for photo in sermon.get_photos %}
                {% if photo.files != "" %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <div class="overlay-container" style="display:flex;justify-content:center;">
                    <img src="{{photo.files}}" style="max-height:686px;" alt="" />
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>

            <p>
              {{sermon.content|safe}}
            </p>

            <a href="{% url 'sermon:edit' sermon.pk %}" class="btn btn-default">수정</a>
            <a href="#" class="btn btn-danger">삭제</a>
          </div>
        </article>
        <!-- blogpost end -->
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->
{% endblock content %}