{% extends "base.html" %}
{% load static %}
{% block title %}설교·묵상{% endblock title %}
{% block content %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container text-noto text-md font-sm">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-lg-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Blog Post</h1>
        <!-- page-title end -->

        <!-- blogpost start -->
        <!-- ================ -->
        <article class="blogpost full">
          <header>
            <div class="post-info mb-4">
              <span class="post-date">
                <i class="fa fa-calendar-o pr-1"></i>
                <span class="day">12</span>
                <span class="month">May 2017</span>
              </span>
              <span class="submitted"
                ><i class="fa fa-user pr-1 pl-1"></i> by
                <a href="#">John Doe</a></span
              >
              <span class="comments"
                ><i class="fa fa-comments-o pl-1 pr-1"></i>
                <a href="#">22 comments</a></span
              >
            </div>
          </header>
          <div class="blogpost-content">
            <div
              id="carousel-blog-post"
              class="carousel slide mb-5"
              data-ride="carousel"
            >
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li
                  data-target="#carousel-blog-post"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#carousel-blog-post" data-slide-to="1"></li>
                <li data-target="#carousel-blog-post" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="overlay-container">
                    <img src="images/blog-1.jpg" style="max-height:686px;" alt="" />
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="overlay-container">
                    <img src="images/blog-3.jpg" style="max-height:686px;" alt="" />
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="overlay-container">
                    <img src="images/blog-4.jpg" style="max-height:686px;" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <h3 class="my-4">
              Corporis ullam nemo itaque excepturi suscipit
            </h3>
            <p class="large">
              Cumque cum quos, rem, quibusdam autem ullam nihil suscipit! Atque
              provident sed sapiente velit cupiditate nisi placeat alias enim,
              aspernatur voluptate, dolorem.
            </p>
            <p>
              Mauris dolor sapien,
              <a href="#">malesuada at interdum ut</a>, hendrerit eget lorem.
              Nunc interdum mi neque, et sollicitudin purus fermentum ut.
              Suspendisse faucibus nibh odio, a vehicula eros pharetra in.
              Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
              eleifend dignissim. Aenean viverra semper sollicitudin.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
              ullam nemo itaque excepturi suscipit unde repudiandae nesciunt ad
              voluptates minima recusandae illum exercitationem, neque, ut totam
              ratione. Consequuntur consequatur ad nesciunt nulla voluptate
              voluptates qui natus labore facilis dolore odit vero ea sint
              inventore tenetur et eligendi nobis fugit veniam quod possimus,
              quasi, voluptatem. Cupiditate?
            </p>
            <ol>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi,
                laboriosam tempore, veniam repudiandae dolor aperiam, iste porro
                amet odio eius earum tempora? Ex nobis suscipit, nam in eius,
                deserunt nihil.
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corporis odit est quae amet iure quia reiciendis maxime eos
                blanditiis tenetur voluptates, ab, obcaecati eaque accusamus
                dolorem a beatae mollitia quod?
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam
                aperiam vel cum quisquam enim reprehenderit sunt cupiditate
                ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore
                fuga voluptate, deleniti placeat.
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
                eaque. Totam nisi ducimus dolor ab obcaecati temporibus
                asperiores, ad dignissimos dolorum unde fuga quae voluptates
                beatae quasi voluptatum culpa dolore?
              </li>
            </ol>
            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
              </p>
            </blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
              incidunt, beatae rem omnis distinctio, dolor, praesentium impedit
              quisquam nobis pariatur nulla expedita aliquid repellendus
              laudantium. A illum sint corrupti eligendi quae ab, facilis eos
              quas! Velit earum facere ex maxime.
            </p>
          </div>
        </article>
        <!-- blogpost end -->
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->
{% endblock content %}